<div id="header">
    <a class="logo" href="<?php echo WEB_URL . '/' . SETTINGS_LANDING_PAGE ?>">
        <img src="/static/images/logo.svg" alt="">
    </a>

    <?php if (Controller_Base::is_login()) { ?>

        <a class="logout" href="<?php echo WEB_URL . '/user/login/logout'; ?>">
            <img src="/static/images/icons/exit-outline.svg" alt="">
            <span><?php echo LANG_NAVIGATION_LOGOUT; ?></span>
        </a>
        <span class="user_name">
            <img src="/static/images/icons/person-circle-outline.svg" alt="">
            <span><?php echo Controller_Base::get_user_name(); ?></span>
        </span>

    <?php } else  { ?>

        <a class="login" href="<?php echo WEB_URL . '/user/login'; ?>">
            <img src="/static/images/icons/enter-outline.svg" alt="">
            <span><?php echo LANG_NAVIGATION_LOGIN; ?></span>
        </a>

        
        <?php if (SETTINGS_ALLOW_REGISTER) { ?>
            <a class="register" href="<?php echo WEB_URL . '/user/register'; ?>">
                <img src="/static/images/icons/enter-outline.svg" alt="">
                <span><?php echo LANG_NAVIGATION_REGISTER; ?></span>
            </a>
        <?php } ?>

    <?php } ?>

    <div class="clear"></div>
</div>