<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="font: 12px arial, sans-serif; color: #c99a54; background-color: #FFFFFF;">';
        
        Hallo <?php echo $user_name; ?>!<br />
        <br />
        Sie haben ein neues Passwort auf <a href="<?php echo WEB_URL; ?>"><?php echo WEB_URL; ?></a> angefordert.<br />
        Um es zu ändern <a href="<?php echo $change_url; ?>">klicken Sie hier</a>. Der Link ist 30 Minuten gültig!<br />
        <br />
        Mit freundlichen Grüßen,
        <?php echo EMAIL_GREETING_NAME; ?>        
    
    </body>
</html>