<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="font: 12px arial, sans-serif; color: #c99a54; background-color: #FFFFFF;">';
        
        Hollo <?php echo $user_name; ?>!<br />
        <br />
        You have requested a new password on <a href="<?php echo WEB_URL; ?>"><?php echo WEB_URL; ?></a>.<br />
        To change the password please <a href="<?php echo $change_url; ?>">click here</a>. The link is valid for 30 minutes!<br />
        <br />
        grz,
        <?php echo EMAIL_GREETING_NAME; ?>        
    
    </body>
</html>