<?php require_once (DOCUMENT_ROOT . '/views/includes/header.view.html'); ?>
<?php require_once (DOCUMENT_ROOT . '/views/includes/navigation.view.html'); ?>


<div class="center_box_login">
    <div class="row">
        <div class="hidden-xs col-md-4"></div>
        <div class="col-xs-12 col-md-8 ">
            <h3><?php echo LANG_REGISTER_HDL ?></h3>
        </div>
        <div class="clear"></div>
    </div>
				
    
    <?php 
    echo $form->printStartTag();
    echo '<div class="ajax-form-response"></div>';
    echo $form->printLine('user_name', LANG_REGISTER_USERNAME);
    echo $form->printLine('email', LANG_REGISTER_EMAIL);
    echo $form->printLine('password', LANG_REGISTER_PASSWORD);
    echo $form->printLine('password_confirmation', LANG_REGISTER_REPEAT_PASSWORD);
    echo $form->printSubmitLine(LANG_REGISTER_SAVE, 'save', '/user/register/save');
    echo $form->printEndTag();
    ?>

</div>

<script>
    $('.register_form').ajax_form({
        'success': function(form, button, data) {
            if (data.success) {
                top.location.replace('/user/login');
            }
        }
    });
</script>

<?php require_once (DOCUMENT_ROOT . '/views/includes/footer.view.html'); ?>
