@CHARSET "UTF-8";

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(359deg);}
}

body {
	font-size: 12px;
	background-color: lightblue;
	padding: 10px 0px 30px 0px;
}

a.anchor {
	display: block;
	position: relative;
	top: -10px;
	visibility: hidden;
}

@media ( min-width : 768px) {
	html {
		overflow-y: scroll;
	}
	body {
		padding: 50px 0px 30px 0px;
	}
	a.anchor {
		top: -50px;
	}
}

@media ( max-width : 450px) {
	.col-xs-12 {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.btn {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0px;
	padding: 3px 10px;
	display: block;
	background-color: #FFF;
	border: 1px solid #FFF;
}

.btn:focus,
.btn:hover{
	color: #000;
	border: 1px solid #000;
}

a.btn-loading span{
	opacity: 0;
}
a.btn-loading{
	position: relative;
}
a.btn-loading::before{
	content: ' ';
	animation: spin 1.5s infinite linear;
	border-radius: 50%;
	display: block;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border: 3px solid #337ab7;
	border-top-color: transparent !important;
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
}
a.btn-loading:hover::before,
a.btn-loading:focus::before{
	border-color: #000;
}

.btn-toolbar, .btn-toolbar .btn {
	margin-bottom: 5px;
}

.hide-empty:empty {
	display: none;
}

.clear{
	float: none;
	clear: both;
	height: 0;
	overflow: hidden;
}

.error-page-error{
	display: block;
	padding: 15px;
	border-radius: 6px;
	background-color: #F2DEDE;
	text-align: center;
	font-size: 16px;
	max-width: 600px;
	margin: 50px auto;
}

/****************************************************/
/******************* collapsible ********************/
.content-box {
	padding: 10px;
	background-color: #8BCCDD;
	border-radius: 6px;
	margin-bottom: 10px;
}

.collapsible {
	margin-bottom: 10px;
}

.collapsible>.content-box {
	margin-bottom: 0px;
	display: none;
}

.collapsible>.content-heading {
	padding: 8px 10px;
	background-color: #6DB6CE;
	border-radius: 6px;
	font-weight: bold;
}

.collapsible[data-collapsible]>.content-heading {
	cursor: pointer;
}

.collapsible.opened>.content-heading {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.collapsible.opened>.content-box {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
}

@media ( min-width : 768px) {
	.content-box {
		display: block !important;
		height: auto !important;
		border-radius: 6px !important;
	}
	.collapsible>.content-heading {
		display: block !important;
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
		cursor: default !important;
	}
	.collapsible>.content-box {
		border-top-left-radius: 0px !important;
		border-top-right-radius: 0px !important;
	}
}

/****************************************************/
/********************* forms ************************/
.form-group {
	margin-bottom: 10px;
}

.form-group:first-of-type {
	margin-top: 5px;
}


.input-group-addon {
	font-size: 12px !important;
	line-height: 12px !important;
	padding: 4px 8px 6px 8px !important;
	height: 26px !important;
}

.form-control {
	font-size: 12px;
	height: 26px;
	line-height: 1.42857;
	padding: 3px 7px;
}

select.form-control {
	padding: 3px 3px;
}

.form-control[type=file] {
	height: auto;
}

.form-control[type=checkbox] {
	width: 16px;
	height: 16px;
	margin-top: 6px;
	margin-top: 0px;
	margin-top: 3px !important;
}

.control-label {
	padding-right: 0px;
	padding-top: 3px !important;
	text-align: left !important;
	margin-bottom: 5px !important;
}

.field-error-msg{
	display: block;
	float: none;
	clear: both;
	padding: 2px 15px;
	color: #C9302C;
}

.line-error input{
	background-color: #F2DEDE;
	color: #C9302C;
	border: 1px solid #C9302C;
}


.button-line .btn{
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

.ajax-form-response{
	display: block;
	width: auto;
	float: none;
	clear: both;
	padding-bottom: 15px;
}

.ajax-form-response:empty{
	display: none;
}
.ajax-form-response .ajax-form-error{
	display: block;
	padding: 15px;
	border-radius: 6px;
	background-color: #eb7c7c;
}

.ajax-form-response .ajax-form-success {
	display: block;
	padding: 15px;
	border-radius: 6px;
	background-color: #b2dba1;
}

.ajax-form-response .ajax-form-warning {
	display: block;
	padding: 15px;
	border-radius: 6px;
	background-color: #f8efc0;
}

@keyframes hide_msg {
  from {opacity: 1;}
  to {opacity: 0.6; background-color: #EEEEEE;}
}

.ajax-form-response .ajax-form-error,
.ajax-form-response .ajax-form-success, 
.ajax-form-response .ajax-form-warning{
	animation: hide_msg 1s linear 3s;
	animation-fill-mode: forwards;
}

@media ( min-width : 992px) {
	label.control-label {
		text-align: right !important;
	}

	form.col-md-5-7 .ajax-form-response{
		margin-left: calc(41.6666% + 12px);
	}
	form.col-md-5-7 .field-error-msg{
		margin-left: 41.6666%;
	}

	form.col-md-4-8 .ajax-form-response{
		margin-left: calc(33.3333% + 10px);
	}
	form.col-md-4-8 .field-error-msg{
		margin-left: 33.3333%;
	}
	
	form.col-md-3-9 .ajax-form-response{
		margin-left: calc(25% + 8px);
	}
	form.col-md-3-9 .field-error-msg{
		margin-left: 25%;
	}

	form.col-md-2-10 .ajax-form-response{
		margin-left: calc(16.6666666% + 8px);
	}
	form.col-md-2-10 .field-error-msg{
		margin-left: 16.6666666%;
	}
}

.field-line #home_button,
.field-line #seperate_page {
	display: block;
	margin-right: 15px;
	float: left;
}

.field-line .visitor_page_link {
	display: inline-block;
	margin-top: 3px;
}



/* tinymce */
div.mce-fullscreen {
	z-index: 1050 !important;
}

/****************************************************/
/**************** combobox **************************/

div.combobox_wrapper{
	position: relative;
	width: 100%;
}
input.combobox{
    padding-right: 25px;
}
span.combobox_button{
	position: absolute;
	right: 2px;
	top: 3px;
    z-index: 1105;
    color: #005f7e;
    pointer-events: none;
}
div.combobox_dd{
    position: absolute;
    display: none;
    z-index: 1110;
    width: inherit;
    max-height: 250px;
    overflow-y: auto;
    background-color: #e3e4e5;
    border: 1px solid #aaaaaa !important;
    margin-top: 25px;
}
div.combobox_dd div{
	display: block;
	padding: 4px 10px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
}
div.combobox_dd div:hover,
div.combobox_dd div.active{
	background-color: #005f7e;
	color: #FFFFFF;
}


/****************************************************/
/******************* tagify *********************/
.tags-look{
	margin-top: 3px;
}
.tagify.form-control{
	padding: 4px 0;
	height: 31px;
}
.tagify__input{
	margin-top: 0;
}
.tags-look .tagify__dropdown__item{
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 3px 5px;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: 5px;
    font-size: 12px;
    color: black;
    transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
    border-color: black;
}

.tags-look .tagify__dropdown__item:hover{
    background: lightyellow;
    border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
    max-width: 0;
    max-height: initial;
    padding: .3em 0;
    margin: .2em 0;
    white-space: nowrap;
    text-indent: -20px;
    border: 0;
}

tag.tagify__tag{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}


/****************************************************/
/******************* dropzone *********************/

.dropzone{
	border: 0 none;
	padding: 0;
	min-height: 152px;
}

.dropzone .dz-message {
    min-height: 152px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CCCCCC;
    font-size: 2em;
}

.dropzone .dz-preview .dz-progress{
	display: none;
}
.dropzone .dz-preview.dz-processing .dz-progress{
	display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone .dz-preview.dz-error .dz-error-mark {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
    opacity: 1;
    margin-top: -15px;
    margin-left: -15px;
}
.dropzone .dz-preview:hover .dz-success-mark,
.dropzone .dz-preview:hover .dz-error-mark{
	display: none;
}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg{
	width: 30px;
	height: 30px;
}
.dropzone .dz-preview .dz-success-mark svg g path{
	fill: green;
	fill-opacity: 1;
}
.dropzone .dz-preview .dz-error-mark svg g{
	fill: red;
	fill-opacity: 1;
}

.dropzone .dz-preview .dz-remove{
	position: absolute;
	z-index: 10000;
	width: 24px;
	height: 24px;
	top: -8px;
	right: -8px;
	background-color: red;
	border-radius: 24px;
	
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none !important;
	
}

.dropzone .dz-preview.dz-success .dz-remove{
	display: none;
}

.dropzone .dz-preview .dz-image{
	border-radius: 0 !important;
	overflow: visible;
	width: auto !important;
	height: 120px;
	min-width: 60px;
	background-color: #CCCCCC;
}
.dropzone .dz-preview .dz-image img {
	height: 120px;
}

/****************************************************/
/*************** infinite scroll ********************/

#infinite_scroll_next td {
	padding-top: 15px;
	height: 40px;
}

ul#infinite_scroll_pagina {
	position: fixed;
	z-index: 2;
	display: none;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	height: 30px;
	text-align: center;
	background-color: #222222;
	list-style-type: none;
}

ul#infinite_scroll_pagina li {
	padding: 0px 5px;
	display: inline-block;
}

ul#infinite_scroll_pagina li a {
	display: block;
	padding: 5px;
	color: #FFFFFF;
}

div#infinite_scroll_loading {
	position: fixed;
	z-index: 3;
	display: none;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	height: 30px;
	text-align: center;
	background-color: #FCF8E3;
	vertical-align: middle;
}


/****************************************************/
/********************* others ***********************/

body{
	background-color: hsl(36, 52%, 56%);
	padding: 0px !important;
}

/* header */
#header{
	border-bottom: 1px solid black;
	padding: 5px 20px;
	margin-bottom: 10px;
}
#header .logo{
	display: block;
	float: left;
}
#header .logo img{
	height: 50px;
}
#header .login, 
#header .logout,
#header .user_name{
	display: block;
	float: right;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 15px;
}
#header .login img, 
#header .logout img,
#header .user_name img{
	height: 18px;
	margin-right: 0px;
	margin-top: -3px;
}

/* login and register */
.center_box_login{
	width: 80%;
	max-width: 500px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 6px;
	margin: 20px auto;
	
}
.center_box_login .ajax-form-response:has(.ajax-form-success) {
	display: none !important;
}


/* recipe-list filter */
#recipe_list_filter{
	padding: 10px 20px 0 20px;
}
#recipe_list_filter .filter_input_wrapper{
	width: calc(100% - 30px);
	float: left;
}
#recipe_list_filter .field_wrapper{
	margin-right: 10px;
	padding-bottom: 10px;
	float: left;
	display: block;
	width: calc(25% - 10px);
}
#recipe_list_filter .field_wrapper:empty{
	display: none;
}
#recipe_list_filter .field_wrapper:last-child{
	margin-right: 0px;
}
#recipe_list_filter .medium_visible{
	display: none;
}
#recipe_list_filter .count5 .field_wrapper{
	width: calc(20% - 10px);
}
@media(max-width: 1200px) {
	#recipe_list_filter .count4 .field_wrapper,
	#recipe_list_filter .count5 .field_wrapper{
		width: calc(50% - 10px);
	}
	#recipe_list_filter .count5 .field_wrapper:nth-child(1),
	#recipe_list_filter .count5 .field_wrapper:nth-child(2),
	#recipe_list_filter .count5 .field_wrapper:nth-child(3){
		width: calc(33.3333% - 10px);
	}
	#recipe_list_filter .medium_visible{
		display: block;
	}
}
@media(max-width: 700px) {
	#recipe_list_filter .field_wrapper,
	#recipe_list_filter .count5 .field_wrapper{
		width: calc(100% - 10px) !important;
		margin-right: 0px!important;
	}
	#recipe_list_filter .medium_visible{
		display: hidden;
	}
}
#recipe_list_filter .btn-ajax-submit{
	float: right;
	display: block;
	padding: 5px;
	height: 30px;
	width: 30px;
	margin-right: 0px;
}
#recipe_list_filter .btn-ajax-submit img{
	height: 20px;
	width: 20px;
}
#recipe_list_filter .field_wrapper .fieldtext{
	height: 30px;
	font-size: 12px;
}
#recipe_list_filter .field_wrapper textarea{
	margin-top: 6px;
}

/* recipe_list */
#recipe_list{
	padding: 10px 10px 20px 20px;
}
#recipe_list .entry{
	display: block;
	float: left;
	width: 130px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
}
#recipe_list .entry.add_recipe img{
	display: block;
	width: 50%;
	margin: 0px auto;
}


#recipe_editor{
}
@media(min-width: 1200px) {
	#recipe_editor .original_text label,
	#recipe_editor .original_text .field-wrapper{
		width: 100%;
		text-align: left !important;
		padding-bottom: 8px;
	}
}
#recipe_editor .ingredients_entry{
	margin-bottom: 8px;
}
#recipe_editor .ingredients_entry:last-of-type{
	margin-bottom: 0px;
}

#recipe_editor .ingredients_entry input,
#recipe_editor .ingredients_inputs > div,
#recipe_editor .ingredients_is_alternative,
#recipe_editor .ingredients_is_alternative span,
#recipe_editor .ingredients_inputs{
	float: left;
}
#recipe_editor .ingredients_is_alternative{
	width: 60px;
	padding-top: 2px;
}
#recipe_editor .ingredients_is_alternative span{
	display: block;
	padding: 2px 0 0 5px;
}
#recipe_editor .ingredients_inputs{
	width: calc(100% - 100px);
}
#recipe_editor .ingredients_inputs > input:nth-child(1){
	width: 60px;
}
#recipe_editor .ingredients_inputs > *:nth-child(2){
	width: calc(40% - 30px);
}
#recipe_editor .ingredients_inputs > *:nth-child(3){
	width: calc(60% - 30px);
}
#recipe_editor .ingredients_inputs .combobox_dd{
	min-width: 100%;
}
#recipe_editor #steps_list textarea{
	display: block;
	float: left;
	width: calc(100% - 40px);
}
#recipe_editor #ingredients_list .btn_remove,
#recipe_editor #steps_list .btn_remove{
	background-color: red;
	border-color: red;
	color: #FFFFFF;
	display: block;
	float: right;
	font-size: 24px;
	line-height: 16px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 6px;
}

#recipe_editor #add_ingredients,
#recipe_editor #add_step{
	background-color:darkgreen;
	border-color: darkgreen;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0px;
}