<?php require_once (DOCUMENT_ROOT . '/views/includes/header.view.html'); ?>
<?php require_once (DOCUMENT_ROOT . '/views/includes/navigation.view.html'); ?>

<div id="recipe_list_filter">
    <?php 
    echo $form->printStartTag();
    $class = $form->printInput('user_id') ? ' count5' : ' count4';
    echo '<div class="filter_input_wrapper'. $class .'">';
    echo '  <div class="field_wrapper">' . $form->printInput('user_id') . '</div>';
    echo '  <div class="field_wrapper">' . $form->printInput('category_id') . '</div>';
    echo '  <div class="field_wrapper">' . $form->printInput('tag_id') . '</div>';
    echo '  <div class="clear medium_visible"></div>';
    echo '  <div class="field_wrapper">' . $form->printInput('ingredients_id') . '</div>';
    echo '  <div class="field_wrapper">' . $form->printInput('recipe_name') . '</div>';
    echo '  <div class="clear"></div>';
    echo '</div>';
    echo $form->printSubmit('<img src="/static/images/icons/search-sharp.svg"  alt="">', 'search', '/recipes/list/list');
    echo '<div class="clear"></div>';
    echo $form->printEndTag();
    ?>
</div>

<div id="recipe_list">
    <a class="entry add_recipe" href="/recipes/editor">
        <img src="/static/images/icons/add-circle-outline.svg" alt="">
        <span><?php echo LANG_RECIPE_LIST_ADD; ?></span>
    </a>

</div>

<script>

    var recipe_list = <?php echo json_encode($recipe_list); ?>

    $('select[name="user_id[]"]').select2({
        placeholder: "<?php echo LANG_RECIPE_LIST_FILTER_USER; ?>",
        allowClear: true,
        width: '100%'
    });
    $('select[name="category_id[]"]').select2({
        placeholder: "<?php echo LANG_RECIPE_LIST_FILTER_CATEGORY; ?>",
        allowClear: true,
        width: '100%'
    });
    $('select[name="tag_id[]"]').select2({
        placeholder: "<?php echo LANG_RECIPE_LIST_FILTER_TAG; ?>",
        allowClear: true,
        width: '100%'
    });
    $('select[name="ingredients_id[]"]').select2({
        placeholder: "<?php echo LANG_RECIPE_LIST_FILTER_INGREDIENTS; ?>",
        allowClear: true,
        width: '100%'
    });
    $('input[name="recipe_name"]').attr('placeholder', "<?php echo LANG_RECIPE_LIST_FILTER_NAME; ?>");

    var LANG_RECIPE_LIST_DETAIL_INGREDINTS_ALTERNATIVE = "<?php echo LANG_RECIPE_LIST_DETAIL_INGREDINTS_ALTERNATIVE; ?>";
    var LANG_RECIPE_LIST_DELETE_CONFIRM_TITLE = "<?php echo LANG_RECIPE_LIST_DELETE_CONFIRM_TITLE; ?>";
    var LANG_RECIPE_LIST_DELETE_CONFIRM_TEXT = "<?php echo LANG_RECIPE_LIST_DELETE_CONFIRM_TEXT; ?>";
    var LANG_RECIPE_LIST_DELETE_CONFIRM_CONFIRM = "<?php echo LANG_RECIPE_LIST_DELETE_CONFIRM_CONFIRM; ?>";
    var LANG_RECIPE_LIST_DELETE_CONFIRM_CANCEL = "<?php echo LANG_RECIPE_LIST_DELETE_CONFIRM_CANCEL; ?>";

</script>

<script src='/static/js/recipe_list.js'></script>

<?php require_once (DOCUMENT_ROOT . '/views/includes/footer.view.html'); ?>
